{% extends '::base.html.twig' %}

{% block page_title %}{{ 'gssp.unrecoverable_error.title'|trans }}{% endblock %}

{% block body %}

    <div class="alert error">
        <h3><i class="fa fa-exclamation-triangle" aria-hidden="true"> {{ 'gssp.unrecoverable_error.message.title'|trans }}</i></h3>
        {% if message is defined %}
            <br>
            {{ 'gssp.unrecoverable_error.message.intro'|trans }}
            {{ message }}
        {% endif %}
    </div>
{% endblock body %}
