name: test-integration
on: [ push ]
jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      matrix:
        php: ['8.2', '8.5']
    timeout-minutes: 30
    name: PHP ${{ matrix.php-versions }} on Ubuntu latest. Experimental == ${{ matrix.experimental }}
    steps:
      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
      - name: Checkout
        uses: actions/checkout@master
      - name: Install dependencies
        run: composer install
        continue-on-error: ${{ matrix.experimental }}
      - name: Run CI tests
        run: composer check-ci
        continue-on-error: ${{ matrix.experimental }}
      - name: Output log files on failure
        if: failure()
        run: tail -2000 /var/log/syslog
